# Data Analysis for Vacation Planning

You're planning a vacation, and you need to decide which city you want to visit. You have shortlisted four cities and identified the return flight cost, daily hotel cost, and weekly car rental cost. While renting a car, you need to pay for entire weeks, even if you return the car sooner.


| City | Return Flight (`$`) | Hotel per day (`$`) | Weekly Car Rental  (`$`) | 
|------|--------------------------|------------------|------------------------|
| Paris|       200                |       20         |          200           |
| London|      250                |       30         |          120           |
| Dubai|       370                |       15         |          80           |
| Mumbai|      450                 |       10         |          70           |         


Answer the following questions using the data above:

1. If you're planning a 1-week long trip, which city should you visit to spend the least amount of money?
2. How does the answer to the previous question change if you change the trip's **Duration** to four days, ten days or two weeks?
3. If your total **Budget** for the trip is `$1000`, which city should you visit to maximize the duration of your trip? Which city should you visit if you want to minimize the duration?
4. How does the answer to the previous question change if your budget is `$600`, `$2000`, or `$1500`?

*Hint: To answer these questions, it will help to define a function `cost_of_trip` with relevant inputs like flight cost, hotel rate, car rental rate, and duration of the trip. You may find the `math.ceil` function useful for calculating the total cost of car rental.*

## Solution:

In [163]:
#first of all defining a nested dictionary/variable for each city to store values containing other dictionaries
cities = {"Paris": {"return_fLight": 200, "hotel_per_day": 20, "weekly_car_rent": 200},
          "London": {"return_fLight": 250, "hotel_per_day": 30, "weekly_car_rent": 120},
          "Dubai": {"return_fLight": 370, "hotel_per_day": 15, "weekly_car_rent": 80},
          "Mumbai": {"return_fLight": 450, "hotel_per_day": 10, "weekly_car_rent": 70}}

#### 1. If you're planning a 1-week long trip, which city should you visit to spend the least amount of money?

In [164]:
# we have to find CITY to spend lEAST AMOUNT/COST wrt DURATION. And we noticed that our amount/cost depends on number of days.
# so we will first define a funciton city_cost to find the total cost of a city wrt 4 parameters.

def city_cost(flight, hotel, car, days):
    return (flight+(hotel*days)+(car*(days/7)))

# Then we will define a function trip_days to find the minimum cost by getting cost of each city in the list named as costs.

def trip_days(days):
    costs = []
    for city, prices in cities.items():
#         print(city)
#         print(prices)
        total_cost = city_cost(prices["return_fLight"], prices["hotel_per_day"], prices["weekly_car_rent"], days)
        costs.append((total_cost, city))
    print(costs)
    return min(costs)
# smimilarly we can return a city with maximum costs wrt days by returning max(costs).
    #return max(costs)

In [165]:
trip_days(7)

[(540.0, 'Paris'), (580.0, 'London'), (555.0, 'Dubai'), (590.0, 'Mumbai')]

(540.0, 'Paris')

#### 2. How does the answer to the previous question change if you change the trip's **Duration** to four days, ten days or two weeks?

In [166]:
trip_days(4)

[(394.2857142857143, 'Paris'), (438.57142857142856, 'London'), (475.7142857142857, 'Dubai'), (530.0, 'Mumbai')]

(394.2857142857143, 'Paris')

In [167]:
trip_days(10)

[(685.7142857142858, 'Paris'), (721.4285714285714, 'London'), (634.2857142857143, 'Dubai'), (650.0, 'Mumbai')]

(634.2857142857143, 'Dubai')

In [168]:
trip_days(14)

[(880.0, 'Paris'), (910.0, 'London'), (740.0, 'Dubai'), (730.0, 'Mumbai')]

(730.0, 'Mumbai')

#### 3. If your total budget for the trip is `$600`, which city should you visit to maximize the duration of your trip? Which city should you visit if you want to minimize the duration?

In [169]:
# now we have to find the Duration(maximum or minimum) of trip wrt Budget of the trip.
# we should apply the conditions when we have budget =>
def duration(budget, less_days=False):
    days = 1
    total_cost = 0
    while total_cost < budget:
        total_cost_before = total_cost
        try:
            costs_before=costs.copy()             #copy of costs dictionary, if exists
        except:
            costs_before={}                      #if costs dictionary doesn't exist, create an empty dictionary
        costs={}
        for city, prices in cities.items():
    #         print(city)
    #         print(prices)
            each_city_cost = city_cost(prices["return_fLight"], prices["hotel_per_day"], prices["weekly_car_rent"], days)
            costs[each_city_cost] = city
        if less_days:
            total_cost=max(list(costs.keys()))
            ''' The while loop breaks only after cost>600 condition is met.
            when the condition is met, the costs dictionary updates to values that are greater than 600 
            so we check if it is exceeding, if it does, we return the values from the previous dictionary cost_before. '''
            if total_cost>=budget:
                print(f"\n Maximum total_cost ({total_cost}) has now become greater than budget ({budget}). So ouput for total_cost_before,")
                print("\n City with Min days: ")
                return costs_before[total_cost_before], str(days-1)+" Days"
        else:   
            total_cost=min(list(costs.keys()))
            if total_cost>=budget:
                print(f"\n Minimum total_cost ({total_cost}) has now become greater than budget ({budget}). So ouput for total_cost_before,")
                print("\n city with Max days: ")
                return costs_before[total_cost_before], str(days-1)+" Days"
        print(costs)
        print(days)
        days+=1

In [170]:
duration(600)

{248.57142857142856: 'Paris', 297.14285714285717: 'London', 396.42857142857144: 'Dubai', 470.0: 'Mumbai'}
1
{297.1428571428571: 'Paris', 344.2857142857143: 'London', 422.85714285714283: 'Dubai', 490.0: 'Mumbai'}
2
{345.7142857142857: 'Paris', 391.42857142857144: 'London', 449.2857142857143: 'Dubai', 510.0: 'Mumbai'}
3
{394.2857142857143: 'Paris', 438.57142857142856: 'London', 475.7142857142857: 'Dubai', 530.0: 'Mumbai'}
4
{442.8571428571429: 'Paris', 485.7142857142857: 'London', 502.14285714285717: 'Dubai', 550.0: 'Mumbai'}
5
{491.42857142857144: 'Paris', 532.8571428571429: 'London', 528.5714285714286: 'Dubai', 570.0: 'Mumbai'}
6
{540.0: 'Paris', 580.0: 'London', 555.0: 'Dubai', 590.0: 'Mumbai'}
7
{588.5714285714286: 'Paris', 627.1428571428571: 'London', 581.4285714285714: 'Dubai', 610.0: 'Mumbai'}
8

 Minimum total_cost (607.8571428571429) has now become greater than budget (600). So ouput for total_cost_before,

 city with Max days:

('Dubai', '8 Days')

In [171]:
duration(600, less_days = True)

{248.57142857142856: 'Paris', 297.14285714285717: 'London', 396.42857142857144: 'Dubai', 470.0: 'Mumbai'}
1
{297.1428571428571: 'Paris', 344.2857142857143: 'London', 422.85714285714283: 'Dubai', 490.0: 'Mumbai'}
2
{345.7142857142857: 'Paris', 391.42857142857144: 'London', 449.2857142857143: 'Dubai', 510.0: 'Mumbai'}
3
{394.2857142857143: 'Paris', 438.57142857142856: 'London', 475.7142857142857: 'Dubai', 530.0: 'Mumbai'}
4
{442.8571428571429: 'Paris', 485.7142857142857: 'London', 502.14285714285717: 'Dubai', 550.0: 'Mumbai'}
5
{491.42857142857144: 'Paris', 532.8571428571429: 'London', 528.5714285714286: 'Dubai', 570.0: 'Mumbai'}
6
{540.0: 'Paris', 580.0: 'London', 555.0: 'Dubai', 590.0: 'Mumbai'}
7

 Maximum total_cost (627.1428571428571) has now become greater than budget (600). So ouput for total_cost_before,

 City with Min days:

('Mumbai', '7 Days')

####  4. How does the answer to the previous question change if your budget is `$1000`, `$2000`, or `$1500`?

In [172]:
duration(1000)

{248.57142857142856: 'Paris', 297.14285714285717: 'London', 396.42857142857144: 'Dubai', 470.0: 'Mumbai'}
1
{297.1428571428571: 'Paris', 344.2857142857143: 'London', 422.85714285714283: 'Dubai', 490.0: 'Mumbai'}
2
{345.7142857142857: 'Paris', 391.42857142857144: 'London', 449.2857142857143: 'Dubai', 510.0: 'Mumbai'}
3
{394.2857142857143: 'Paris', 438.57142857142856: 'London', 475.7142857142857: 'Dubai', 530.0: 'Mumbai'}
4
{442.8571428571429: 'Paris', 485.7142857142857: 'London', 502.14285714285717: 'Dubai', 550.0: 'Mumbai'}
5
{491.42857142857144: 'Paris', 532.8571428571429: 'London', 528.5714285714286: 'Dubai', 570.0: 'Mumbai'}
6
{540.0: 'Paris', 580.0: 'London', 555.0: 'Dubai', 590.0: 'Mumbai'}
7
{588.5714285714286: 'Paris', 627.1428571428571: 'London', 581.4285714285714: 'Dubai', 610.0: 'Mumbai'}
8
{637.1428571428571: 'Paris', 674.2857142857143: 'London', 607.8571428571429: 'Dubai', 630.0: 'Mumbai'}
9
{685.7142857142858: 'Paris', 721.4285714285714: 'London', 634.2857142857143: 'Dubai', 650.0: 'Mumbai'}
10
{734.2857142857142: 'Paris', 768.5714285714286: 'London', 660.7142857142857: 'Dubai', 670.0: 'Mumbai'}
11
{782.8571428571429: 'Paris', 815.7142857142857: 'London', 687.1428571428571: 'Dubai', 690.0: 'Mumbai'}
12
{831.4285714285714: 'Paris', 862.8571428571429: 'London', 713.5714285714286: 'Dubai', 710.0: 'Mumbai'}
13
{880.0: 'Paris', 910.0: 'London', 740.0: 'Dubai', 730.0: 'Mumbai'}
14
{928.5714285714286: 'Paris', 957.1428571428571: 'London', 766.4285714285714: 'Dubai', 750.0: 'Mumbai'}
15
{977.1428571428571: 'Paris', 1004.2857142857142: 'London', 792.8571428571429: 'Dubai', 770.0: 'Mumbai'}
16
{1025.7142857142858: 'Paris', 1051.4285714285713: 'London', 819.2857142857142: 'Dubai', 790.0: 'Mumbai'}
17
{1074.2857142857142: 'Paris', 1098.5714285714287: 'London', 845.7142857142858: 'Dubai', 810.0: 'Mumbai'}
18
{1122.857142857143: 'Paris', 1145.7142857142858: 'London', 872.1428571428571: 'Dubai', 830.0: 'Mumbai'}
19
{1171.4285714285716: 'Paris', 1192.857142857143: 'London', 898.5714285714286: 'Dubai', 850.0: 'Mumbai'}
20
{1220.0: 'Paris', 1240.0: 'London', 925.0: 'Dubai', 870.0: 'Mumbai'}
21
{1268.5714285714284: 'Paris', 1287.142857142857: 'London', 951.4285714285714: 'Dubai', 890.0: 'Mumbai'}
22
{1317.142857142857: 'Paris', 1334.2857142857142: 'London', 977.8571428571429: 'Dubai', 910.0: 'Mumbai'}
23
{1365.7142857142858: 'Paris', 1381.4285714285713: 'London', 1004.2857142857142: 'Dubai', 930.0: 'Mumbai'}
24
{1414.2857142857142: 'Paris', 1428.5714285714287: 'London', 1030.7142857142858: 'Dubai', 950.0: 'Mumbai'}
25
{1462.857142857143: 'Paris', 1475.7142857142858: 'London', 1057.142857142857: 'Dubai', 970.0: 'Mumbai'}
26
{1511.4285714285716: 'Paris', 1522.857142857143: 'London', 1083.5714285714284: 'Dubai', 990.0: 'Mumbai'}
27

 Minimum total_cost (1010.0) has now become greater than budget (1000). So ouput for total_cost_before,

 city with Max days:

('Mumbai', '27 Days')

In [173]:
duration(1000, less_days = True)

{248.57142857142856: 'Paris', 297.14285714285717: 'London', 396.42857142857144: 'Dubai', 470.0: 'Mumbai'}
1
{297.1428571428571: 'Paris', 344.2857142857143: 'London', 422.85714285714283: 'Dubai', 490.0: 'Mumbai'}
2
{345.7142857142857: 'Paris', 391.42857142857144: 'London', 449.2857142857143: 'Dubai', 510.0: 'Mumbai'}
3
{394.2857142857143: 'Paris', 438.57142857142856: 'London', 475.7142857142857: 'Dubai', 530.0: 'Mumbai'}
4
{442.8571428571429: 'Paris', 485.7142857142857: 'London', 502.14285714285717: 'Dubai', 550.0: 'Mumbai'}
5
{491.42857142857144: 'Paris', 532.8571428571429: 'London', 528.5714285714286: 'Dubai', 570.0: 'Mumbai'}
6
{540.0: 'Paris', 580.0: 'London', 555.0: 'Dubai', 590.0: 'Mumbai'}
7
{588.5714285714286: 'Paris', 627.1428571428571: 'London', 581.4285714285714: 'Dubai', 610.0: 'Mumbai'}
8
{637.1428571428571: 'Paris', 674.2857142857143: 'London', 607.8571428571429: 'Dubai', 630.0: 'Mumbai'}
9
{685.7142857142858: 'Paris', 721.4285714285714: 'London', 634.2857142857143: 'Dubai', 650.0: 'Mumbai'}
10
{734.2857142857142: 'Paris', 768.5714285714286: 'London', 660.7142857142857: 'Dubai', 670.0: 'Mumbai'}
11
{782.8571428571429: 'Paris', 815.7142857142857: 'London', 687.1428571428571: 'Dubai', 690.0: 'Mumbai'}
12
{831.4285714285714: 'Paris', 862.8571428571429: 'London', 713.5714285714286: 'Dubai', 710.0: 'Mumbai'}
13
{880.0: 'Paris', 910.0: 'London', 740.0: 'Dubai', 730.0: 'Mumbai'}
14
{928.5714285714286: 'Paris', 957.1428571428571: 'London', 766.4285714285714: 'Dubai', 750.0: 'Mumbai'}
15

 Maximum total_cost (1004.2857142857142) has now become greater than budget (1000). So ouput for total_cost_before,

 City with Min days:

('London', '15 Days')

In [174]:
duration(2000)

{248.57142857142856: 'Paris', 297.14285714285717: 'London', 396.42857142857144: 'Dubai', 470.0: 'Mumbai'}
1
{297.1428571428571: 'Paris', 344.2857142857143: 'London', 422.85714285714283: 'Dubai', 490.0: 'Mumbai'}
2
{345.7142857142857: 'Paris', 391.42857142857144: 'London', 449.2857142857143: 'Dubai', 510.0: 'Mumbai'}
3
{394.2857142857143: 'Paris', 438.57142857142856: 'London', 475.7142857142857: 'Dubai', 530.0: 'Mumbai'}
4
{442.8571428571429: 'Paris', 485.7142857142857: 'London', 502.14285714285717: 'Dubai', 550.0: 'Mumbai'}
5
{491.42857142857144: 'Paris', 532.8571428571429: 'London', 528.5714285714286: 'Dubai', 570.0: 'Mumbai'}
6
{540.0: 'Paris', 580.0: 'London', 555.0: 'Dubai', 590.0: 'Mumbai'}
7
{588.5714285714286: 'Paris', 627.1428571428571: 'London', 581.4285714285714: 'Dubai', 610.0: 'Mumbai'}
8
{637.1428571428571: 'Paris', 674.2857142857143: 'London', 607.8571428571429: 'Dubai', 630.0: 'Mumbai'}
9
{685.7142857142858: 'Paris', 721.4285714285714: 'London', 634.2857142857143: 'Dubai', 650.0: 'Mumbai'}
10
{734.2857142857142: 'Paris', 768.5714285714286: 'London', 660.7142857142857: 'Dubai', 670.0: 'Mumbai'}
11
{782.8571428571429: 'Paris', 815.7142857142857: 'London', 687.1428571428571: 'Dubai', 690.0: 'Mumbai'}
12
{831.4285714285714: 'Paris', 862.8571428571429: 'London', 713.5714285714286: 'Dubai', 710.0: 'Mumbai'}
13
{880.0: 'Paris', 910.0: 'London', 740.0: 'Dubai', 730.0: 'Mumbai'}
14
{928.5714285714286: 'Paris', 957.1428571428571: 'London', 766.4285714285714: 'Dubai', 750.0: 'Mumbai'}
15
{977.1428571428571: 'Paris', 1004.2857142857142: 'London', 792.8571428571429: 'Dubai', 770.0: 'Mumbai'}
16
{1025.7142857142858: 'Paris', 1051.4285714285713: 'London', 819.2857142857142: 'Dubai', 790.0: 'Mumbai'}
17
{1074.2857142857142: 'Paris', 1098.5714285714287: 'London', 845.7142857142858: 'Dubai', 810.0: 'Mumbai'}
18
{1122.857142857143: 'Paris', 1145.7142857142858: 'London', 872.1428571428571: 'Dubai', 830.0: 'Mumbai'}
19
{1171.4285714285716: 'Paris', 1192.857142857143: 'London', 898.5714285714286: 'Dubai', 850.0: 'Mumbai'}
20
{1220.0: 'Paris', 1240.0: 'London', 925.0: 'Dubai', 870.0: 'Mumbai'}
21
{1268.5714285714284: 'Paris', 1287.142857142857: 'London', 951.4285714285714: 'Dubai', 890.0: 'Mumbai'}
22
{1317.142857142857: 'Paris', 1334.2857142857142: 'London', 977.8571428571429: 'Dubai', 910.0: 'Mumbai'}
23
{1365.7142857142858: 'Paris', 1381.4285714285713: 'London', 1004.2857142857142: 'Dubai', 930.0: 'Mumbai'}
24
{1414.2857142857142: 'Paris', 1428.5714285714287: 'London', 1030.7142857142858: 'Dubai', 950.0: 'Mumbai'}
25
{1462.857142857143: 'Paris', 1475.7142857142858: 'London', 1057.142857142857: 'Dubai', 970.0: 'Mumbai'}
26
{1511.4285714285716: 'Paris', 1522.857142857143: 'London', 1083.5714285714284: 'Dubai', 990.0: 'Mumbai'}
27
{1560.0: 'Paris', 1570.0: 'London', 1110.0: 'Dubai', 1010.0: 'Mumbai'}
28
{1608.5714285714287: 'Paris', 1617.142857142857: 'London', 1136.4285714285716: 'Dubai', 1030.0: 'Mumbai'}
29
{1657.142857142857: 'Paris', 1664.2857142857142: 'London', 1162.857142857143: 'Dubai', 1050.0: 'Mumbai'}
30
{1705.7142857142858: 'Paris', 1711.4285714285716: 'London', 1189.2857142857142: 'Dubai', 1070.0: 'Mumbai'}
31
{1754.2857142857142: 'Paris', 1758.5714285714284: 'London', 1215.7142857142858: 'Dubai', 1090.0: 'Mumbai'}
32
{1802.857142857143: 'Paris', 1805.7142857142858: 'London', 1242.142857142857: 'Dubai', 1110.0: 'Mumbai'}
33
{1851.4285714285713: 'Paris', 1852.8571428571427: 'London', 1268.5714285714284: 'Dubai', 1130.0: 'Mumbai'}
34
{1900.0: 'London', 1295.0: 'Dubai', 1150.0: 'Mumbai'}
35
{1948.5714285714287: 'Paris', 1947.1428571428573: 'London', 1321.4285714285716: 'Dubai', 1170.0: 'Mumbai'}
36
{1997.142857142857: 'Paris', 1994.2857142857142: 'London', 1347.857142857143: 'Dubai', 1190.0: 'Mumbai'}
37
{2045.7142857142858: 'Paris', 2041.4285714285716: 'London', 1374.2857142857142: 'Dubai', 1210.0: 'Mumbai'}
38
{2094.285714285714: 'Paris', 2088.5714285714284: 'London', 1400.7142857142858: 'Dubai', 1230.0: 'Mumbai'}
39
{2142.857142857143: 'Paris', 2135.714285714286: 'London', 1427.142857142857: 'Dubai', 1250.0: 'Mumbai'}
40
{2191.4285714285716: 'Paris', 2182.8571428571427: 'London', 1453.5714285714284: 'Dubai', 1270.0: 'Mumbai'}
41
{2240.0: 'Paris', 2230.0: 'London', 1480.0: 'Dubai', 1290.0: 'Mumbai'}
42
{2288.5714285714284: 'Paris', 2277.1428571428573: 'London', 1506.4285714285716: 'Dubai', 1310.0: 'Mumbai'}
43
{2337.142857142857: 'Paris', 2324.285714285714: 'London', 1532.857142857143: 'Dubai', 1330.0: 'Mumbai'}
44
{2385.714285714286: 'Paris', 2371.4285714285716: 'London', 1559.2857142857142: 'Dubai', 1350.0: 'Mumbai'}
45
{2434.285714285714: 'Paris', 2418.5714285714284: 'London', 1585.7142857142858: 'Dubai', 1370.0: 'Mumbai'}
46
{2482.857142857143: 'Paris', 2465.714285714286: 'London', 1612.142857142857: 'Dubai', 1390.0: 'Mumbai'}
47
{2531.4285714285716: 'Paris', 2512.8571428571427: 'London', 1638.5714285714284: 'Dubai', 1410.0: 'Mumbai'}
48
{2580.0: 'Paris', 2560.0: 'London', 1665.0: 'Dubai', 1430.0: 'Mumbai'}
49
{2628.5714285714284: 'Paris', 2607.1428571428573: 'London', 1691.4285714285716: 'Dubai', 1450.0: 'Mumbai'}
50
{2677.142857142857: 'Paris', 2654.285714285714: 'London', 1717.857142857143: 'Dubai', 1470.0: 'Mumbai'}
51
{2725.714285714286: 'Paris', 2701.4285714285716: 'London', 1744.2857142857142: 'Dubai', 1490.0: 'Mumbai'}
52
{2774.285714285714: 'Paris', 2748.5714285714284: 'London', 1770.7142857142858: 'Dubai', 1510.0: 'Mumbai'}
53
{2822.857142857143: 'Paris', 2795.714285714286: 'London', 1797.142857142857: 'Dubai', 1530.0: 'Mumbai'}
54
{2871.4285714285716: 'Paris', 2842.8571428571427: 'London', 1823.5714285714284: 'Dubai', 1550.0: 'Mumbai'}
55
{2920.0: 'Paris', 2890.0: 'London', 1850.0: 'Dubai', 1570.0: 'Mumbai'}
56
{2968.5714285714284: 'Paris', 2937.142857142857: 'London', 1876.4285714285713: 'Dubai', 1590.0: 'Mumbai'}
57
{3017.1428571428573: 'Paris', 2984.285714285714: 'London', 1902.857142857143: 'Dubai', 1610.0: 'Mumbai'}
58
{3065.714285714286: 'Paris', 3031.4285714285716: 'London', 1929.2857142857142: 'Dubai', 1630.0: 'Mumbai'}
59
{3114.285714285714: 'Paris', 3078.5714285714284: 'London', 1955.7142857142858: 'Dubai', 1650.0: 'Mumbai'}
60
{3162.8571428571427: 'Paris', 3125.7142857142853: 'London', 1982.142857142857: 'Dubai', 1670.0: 'Mumbai'}
61
{3211.4285714285716: 'Paris', 3172.857142857143: 'London', 2008.5714285714287: 'Dubai', 1690.0: 'Mumbai'}
62
{3260.0: 'Paris', 3220.0: 'London', 2035.0: 'Dubai', 1710.0: 'Mumbai'}
63
{3308.5714285714284: 'Paris', 3267.142857142857: 'London', 2061.4285714285716: 'Dubai', 1730.0: 'Mumbai'}
64
{3357.1428571428573: 'Paris', 3314.2857142857147: 'London', 2087.857142857143: 'Dubai', 1750.0: 'Mumbai'}
65
{3405.714285714286: 'Paris', 3361.4285714285716: 'London', 2114.285714285714: 'Dubai', 1770.0: 'Mumbai'}
66
{3454.285714285714: 'Paris', 3408.5714285714284: 'London', 2140.714285714286: 'Dubai', 1790.0: 'Mumbai'}
67
{3502.8571428571427: 'Paris', 3455.7142857142853: 'London', 2167.142857142857: 'Dubai', 1810.0: 'Mumbai'}
68
{3551.4285714285716: 'Paris', 3502.857142857143: 'London', 2193.5714285714284: 'Dubai', 1830.0: 'Mumbai'}
69
{3600.0: 'Paris', 3550.0: 'London', 2220.0: 'Dubai', 1850.0: 'Mumbai'}
70
{3648.5714285714284: 'Paris', 3597.142857142857: 'London', 2246.4285714285716: 'Dubai', 1870.0: 'Mumbai'}
71
{3697.1428571428573: 'Paris', 3644.2857142857147: 'London', 2272.857142857143: 'Dubai', 1890.0: 'Mumbai'}
72
{3745.714285714286: 'Paris', 3691.4285714285716: 'London', 2299.285714285714: 'Dubai', 1910.0: 'Mumbai'}
73
{3794.285714285714: 'Paris', 3738.5714285714284: 'London', 2325.714285714286: 'Dubai', 1930.0: 'Mumbai'}
74
{3842.8571428571427: 'Paris', 3785.7142857142853: 'London', 2352.142857142857: 'Dubai', 1950.0: 'Mumbai'}
75
{3891.4285714285716: 'Paris', 3832.857142857143: 'London', 2378.5714285714284: 'Dubai', 1970.0: 'Mumbai'}
76
{3940.0: 'Paris', 3880.0: 'London', 2405.0: 'Dubai', 1990.0: 'Mumbai'}
77

 Minimum total_cost (2010.0) has now become greater than budget (2000). So ouput for total_cost_before,

 city with Max days:

('Mumbai', '77 Days')

In [175]:
duration(2000, less_days = True)

{248.57142857142856: 'Paris', 297.14285714285717: 'London', 396.42857142857144: 'Dubai', 470.0: 'Mumbai'}
1
{297.1428571428571: 'Paris', 344.2857142857143: 'London', 422.85714285714283: 'Dubai', 490.0: 'Mumbai'}
2
{345.7142857142857: 'Paris', 391.42857142857144: 'London', 449.2857142857143: 'Dubai', 510.0: 'Mumbai'}
3
{394.2857142857143: 'Paris', 438.57142857142856: 'London', 475.7142857142857: 'Dubai', 530.0: 'Mumbai'}
4
{442.8571428571429: 'Paris', 485.7142857142857: 'London', 502.14285714285717: 'Dubai', 550.0: 'Mumbai'}
5
{491.42857142857144: 'Paris', 532.8571428571429: 'London', 528.5714285714286: 'Dubai', 570.0: 'Mumbai'}
6
{540.0: 'Paris', 580.0: 'London', 555.0: 'Dubai', 590.0: 'Mumbai'}
7
{588.5714285714286: 'Paris', 627.1428571428571: 'London', 581.4285714285714: 'Dubai', 610.0: 'Mumbai'}
8
{637.1428571428571: 'Paris', 674.2857142857143: 'London', 607.8571428571429: 'Dubai', 630.0: 'Mumbai'}
9
{685.7142857142858: 'Paris', 721.4285714285714: 'London', 634.2857142857143: 'Dubai', 650.0: 'Mumbai'}
10
{734.2857142857142: 'Paris', 768.5714285714286: 'London', 660.7142857142857: 'Dubai', 670.0: 'Mumbai'}
11
{782.8571428571429: 'Paris', 815.7142857142857: 'London', 687.1428571428571: 'Dubai', 690.0: 'Mumbai'}
12
{831.4285714285714: 'Paris', 862.8571428571429: 'London', 713.5714285714286: 'Dubai', 710.0: 'Mumbai'}
13
{880.0: 'Paris', 910.0: 'London', 740.0: 'Dubai', 730.0: 'Mumbai'}
14
{928.5714285714286: 'Paris', 957.1428571428571: 'London', 766.4285714285714: 'Dubai', 750.0: 'Mumbai'}
15
{977.1428571428571: 'Paris', 1004.2857142857142: 'London', 792.8571428571429: 'Dubai', 770.0: 'Mumbai'}
16
{1025.7142857142858: 'Paris', 1051.4285714285713: 'London', 819.2857142857142: 'Dubai', 790.0: 'Mumbai'}
17
{1074.2857142857142: 'Paris', 1098.5714285714287: 'London', 845.7142857142858: 'Dubai', 810.0: 'Mumbai'}
18
{1122.857142857143: 'Paris', 1145.7142857142858: 'London', 872.1428571428571: 'Dubai', 830.0: 'Mumbai'}
19
{1171.4285714285716: 'Paris', 1192.857142857143: 'London', 898.5714285714286: 'Dubai', 850.0: 'Mumbai'}
20
{1220.0: 'Paris', 1240.0: 'London', 925.0: 'Dubai', 870.0: 'Mumbai'}
21
{1268.5714285714284: 'Paris', 1287.142857142857: 'London', 951.4285714285714: 'Dubai', 890.0: 'Mumbai'}
22
{1317.142857142857: 'Paris', 1334.2857142857142: 'London', 977.8571428571429: 'Dubai', 910.0: 'Mumbai'}
23
{1365.7142857142858: 'Paris', 1381.4285714285713: 'London', 1004.2857142857142: 'Dubai', 930.0: 'Mumbai'}
24
{1414.2857142857142: 'Paris', 1428.5714285714287: 'London', 1030.7142857142858: 'Dubai', 950.0: 'Mumbai'}
25
{1462.857142857143: 'Paris', 1475.7142857142858: 'London', 1057.142857142857: 'Dubai', 970.0: 'Mumbai'}
26
{1511.4285714285716: 'Paris', 1522.857142857143: 'London', 1083.5714285714284: 'Dubai', 990.0: 'Mumbai'}
27
{1560.0: 'Paris', 1570.0: 'London', 1110.0: 'Dubai', 1010.0: 'Mumbai'}
28
{1608.5714285714287: 'Paris', 1617.142857142857: 'London', 1136.4285714285716: 'Dubai', 1030.0: 'Mumbai'}
29
{1657.142857142857: 'Paris', 1664.2857142857142: 'London', 1162.857142857143: 'Dubai', 1050.0: 'Mumbai'}
30
{1705.7142857142858: 'Paris', 1711.4285714285716: 'London', 1189.2857142857142: 'Dubai', 1070.0: 'Mumbai'}
31
{1754.2857142857142: 'Paris', 1758.5714285714284: 'London', 1215.7142857142858: 'Dubai', 1090.0: 'Mumbai'}
32
{1802.857142857143: 'Paris', 1805.7142857142858: 'London', 1242.142857142857: 'Dubai', 1110.0: 'Mumbai'}
33
{1851.4285714285713: 'Paris', 1852.8571428571427: 'London', 1268.5714285714284: 'Dubai', 1130.0: 'Mumbai'}
34
{1900.0: 'London', 1295.0: 'Dubai', 1150.0: 'Mumbai'}
35
{1948.5714285714287: 'Paris', 1947.1428571428573: 'London', 1321.4285714285716: 'Dubai', 1170.0: 'Mumbai'}
36
{1997.142857142857: 'Paris', 1994.2857142857142: 'London', 1347.857142857143: 'Dubai', 1190.0: 'Mumbai'}
37

 Maximum total_cost (2045.7142857142858) has now become greater than budget (2000). So ouput for total_cost_before,

 City with Min days:

('Paris', '37 Days')

In [176]:
duration(1500)

{248.57142857142856: 'Paris', 297.14285714285717: 'London', 396.42857142857144: 'Dubai', 470.0: 'Mumbai'}
1
{297.1428571428571: 'Paris', 344.2857142857143: 'London', 422.85714285714283: 'Dubai', 490.0: 'Mumbai'}
2
{345.7142857142857: 'Paris', 391.42857142857144: 'London', 449.2857142857143: 'Dubai', 510.0: 'Mumbai'}
3
{394.2857142857143: 'Paris', 438.57142857142856: 'London', 475.7142857142857: 'Dubai', 530.0: 'Mumbai'}
4
{442.8571428571429: 'Paris', 485.7142857142857: 'London', 502.14285714285717: 'Dubai', 550.0: 'Mumbai'}
5
{491.42857142857144: 'Paris', 532.8571428571429: 'London', 528.5714285714286: 'Dubai', 570.0: 'Mumbai'}
6
{540.0: 'Paris', 580.0: 'London', 555.0: 'Dubai', 590.0: 'Mumbai'}
7
{588.5714285714286: 'Paris', 627.1428571428571: 'London', 581.4285714285714: 'Dubai', 610.0: 'Mumbai'}
8
{637.1428571428571: 'Paris', 674.2857142857143: 'London', 607.8571428571429: 'Dubai', 630.0: 'Mumbai'}
9
{685.7142857142858: 'Paris', 721.4285714285714: 'London', 634.2857142857143: 'Dubai', 650.0: 'Mumbai'}
10
{734.2857142857142: 'Paris', 768.5714285714286: 'London', 660.7142857142857: 'Dubai', 670.0: 'Mumbai'}
11
{782.8571428571429: 'Paris', 815.7142857142857: 'London', 687.1428571428571: 'Dubai', 690.0: 'Mumbai'}
12
{831.4285714285714: 'Paris', 862.8571428571429: 'London', 713.5714285714286: 'Dubai', 710.0: 'Mumbai'}
13
{880.0: 'Paris', 910.0: 'London', 740.0: 'Dubai', 730.0: 'Mumbai'}
14
{928.5714285714286: 'Paris', 957.1428571428571: 'London', 766.4285714285714: 'Dubai', 750.0: 'Mumbai'}
15
{977.1428571428571: 'Paris', 1004.2857142857142: 'London', 792.8571428571429: 'Dubai', 770.0: 'Mumbai'}
16
{1025.7142857142858: 'Paris', 1051.4285714285713: 'London', 819.2857142857142: 'Dubai', 790.0: 'Mumbai'}
17
{1074.2857142857142: 'Paris', 1098.5714285714287: 'London', 845.7142857142858: 'Dubai', 810.0: 'Mumbai'}
18
{1122.857142857143: 'Paris', 1145.7142857142858: 'London', 872.1428571428571: 'Dubai', 830.0: 'Mumbai'}
19
{1171.4285714285716: 'Paris', 1192.857142857143: 'London', 898.5714285714286: 'Dubai', 850.0: 'Mumbai'}
20
{1220.0: 'Paris', 1240.0: 'London', 925.0: 'Dubai', 870.0: 'Mumbai'}
21
{1268.5714285714284: 'Paris', 1287.142857142857: 'London', 951.4285714285714: 'Dubai', 890.0: 'Mumbai'}
22
{1317.142857142857: 'Paris', 1334.2857142857142: 'London', 977.8571428571429: 'Dubai', 910.0: 'Mumbai'}
23
{1365.7142857142858: 'Paris', 1381.4285714285713: 'London', 1004.2857142857142: 'Dubai', 930.0: 'Mumbai'}
24
{1414.2857142857142: 'Paris', 1428.5714285714287: 'London', 1030.7142857142858: 'Dubai', 950.0: 'Mumbai'}
25
{1462.857142857143: 'Paris', 1475.7142857142858: 'London', 1057.142857142857: 'Dubai', 970.0: 'Mumbai'}
26
{1511.4285714285716: 'Paris', 1522.857142857143: 'London', 1083.5714285714284: 'Dubai', 990.0: 'Mumbai'}
27
{1560.0: 'Paris', 1570.0: 'London', 1110.0: 'Dubai', 1010.0: 'Mumbai'}
28
{1608.5714285714287: 'Paris', 1617.142857142857: 'London', 1136.4285714285716: 'Dubai', 1030.0: 'Mumbai'}
29
{1657.142857142857: 'Paris', 1664.2857142857142: 'London', 1162.857142857143: 'Dubai', 1050.0: 'Mumbai'}
30
{1705.7142857142858: 'Paris', 1711.4285714285716: 'London', 1189.2857142857142: 'Dubai', 1070.0: 'Mumbai'}
31
{1754.2857142857142: 'Paris', 1758.5714285714284: 'London', 1215.7142857142858: 'Dubai', 1090.0: 'Mumbai'}
32
{1802.857142857143: 'Paris', 1805.7142857142858: 'London', 1242.142857142857: 'Dubai', 1110.0: 'Mumbai'}
33
{1851.4285714285713: 'Paris', 1852.8571428571427: 'London', 1268.5714285714284: 'Dubai', 1130.0: 'Mumbai'}
34
{1900.0: 'London', 1295.0: 'Dubai', 1150.0: 'Mumbai'}
35
{1948.5714285714287: 'Paris', 1947.1428571428573: 'London', 1321.4285714285716: 'Dubai', 1170.0: 'Mumbai'}
36
{1997.142857142857: 'Paris', 1994.2857142857142: 'London', 1347.857142857143: 'Dubai', 1190.0: 'Mumbai'}
37
{2045.7142857142858: 'Paris', 2041.4285714285716: 'London', 1374.2857142857142: 'Dubai', 1210.0: 'Mumbai'}
38
{2094.285714285714: 'Paris', 2088.5714285714284: 'London', 1400.7142857142858: 'Dubai', 1230.0: 'Mumbai'}
39
{2142.857142857143: 'Paris', 2135.714285714286: 'London', 1427.142857142857: 'Dubai', 1250.0: 'Mumbai'}
40
{2191.4285714285716: 'Paris', 2182.8571428571427: 'London', 1453.5714285714284: 'Dubai', 1270.0: 'Mumbai'}
41
{2240.0: 'Paris', 2230.0: 'London', 1480.0: 'Dubai', 1290.0: 'Mumbai'}
42
{2288.5714285714284: 'Paris', 2277.1428571428573: 'London', 1506.4285714285716: 'Dubai', 1310.0: 'Mumbai'}
43
{2337.142857142857: 'Paris', 2324.285714285714: 'London', 1532.857142857143: 'Dubai', 1330.0: 'Mumbai'}
44
{2385.714285714286: 'Paris', 2371.4285714285716: 'London', 1559.2857142857142: 'Dubai', 1350.0: 'Mumbai'}
45
{2434.285714285714: 'Paris', 2418.5714285714284: 'London', 1585.7142857142858: 'Dubai', 1370.0: 'Mumbai'}
46
{2482.857142857143: 'Paris', 2465.714285714286: 'London', 1612.142857142857: 'Dubai', 1390.0: 'Mumbai'}
47
{2531.4285714285716: 'Paris', 2512.8571428571427: 'London', 1638.5714285714284: 'Dubai', 1410.0: 'Mumbai'}
48
{2580.0: 'Paris', 2560.0: 'London', 1665.0: 'Dubai', 1430.0: 'Mumbai'}
49
{2628.5714285714284: 'Paris', 2607.1428571428573: 'London', 1691.4285714285716: 'Dubai', 1450.0: 'Mumbai'}
50
{2677.142857142857: 'Paris', 2654.285714285714: 'London', 1717.857142857143: 'Dubai', 1470.0: 'Mumbai'}
51
{2725.714285714286: 'Paris', 2701.4285714285716: 'London', 1744.2857142857142: 'Dubai', 1490.0: 'Mumbai'}
52

 Minimum total_cost (1510.0) has now become greater than budget (1500). So ouput for total_cost_before,

 city with Max days:

('Mumbai', '52 Days')

In [177]:
duration(1500, less_days = True)

{248.57142857142856: 'Paris', 297.14285714285717: 'London', 396.42857142857144: 'Dubai', 470.0: 'Mumbai'}
1
{297.1428571428571: 'Paris', 344.2857142857143: 'London', 422.85714285714283: 'Dubai', 490.0: 'Mumbai'}
2
{345.7142857142857: 'Paris', 391.42857142857144: 'London', 449.2857142857143: 'Dubai', 510.0: 'Mumbai'}
3
{394.2857142857143: 'Paris', 438.57142857142856: 'London', 475.7142857142857: 'Dubai', 530.0: 'Mumbai'}
4
{442.8571428571429: 'Paris', 485.7142857142857: 'London', 502.14285714285717: 'Dubai', 550.0: 'Mumbai'}
5
{491.42857142857144: 'Paris', 532.8571428571429: 'London', 528.5714285714286: 'Dubai', 570.0: 'Mumbai'}
6
{540.0: 'Paris', 580.0: 'London', 555.0: 'Dubai', 590.0: 'Mumbai'}
7
{588.5714285714286: 'Paris', 627.1428571428571: 'London', 581.4285714285714: 'Dubai', 610.0: 'Mumbai'}
8
{637.1428571428571: 'Paris', 674.2857142857143: 'London', 607.8571428571429: 'Dubai', 630.0: 'Mumbai'}
9
{685.7142857142858: 'Paris', 721.4285714285714: 'London', 634.2857142857143: 'Dubai', 650.0: 'Mumbai'}
10
{734.2857142857142: 'Paris', 768.5714285714286: 'London', 660.7142857142857: 'Dubai', 670.0: 'Mumbai'}
11
{782.8571428571429: 'Paris', 815.7142857142857: 'London', 687.1428571428571: 'Dubai', 690.0: 'Mumbai'}
12
{831.4285714285714: 'Paris', 862.8571428571429: 'London', 713.5714285714286: 'Dubai', 710.0: 'Mumbai'}
13
{880.0: 'Paris', 910.0: 'London', 740.0: 'Dubai', 730.0: 'Mumbai'}
14
{928.5714285714286: 'Paris', 957.1428571428571: 'London', 766.4285714285714: 'Dubai', 750.0: 'Mumbai'}
15
{977.1428571428571: 'Paris', 1004.2857142857142: 'London', 792.8571428571429: 'Dubai', 770.0: 'Mumbai'}
16
{1025.7142857142858: 'Paris', 1051.4285714285713: 'London', 819.2857142857142: 'Dubai', 790.0: 'Mumbai'}
17
{1074.2857142857142: 'Paris', 1098.5714285714287: 'London', 845.7142857142858: 'Dubai', 810.0: 'Mumbai'}
18
{1122.857142857143: 'Paris', 1145.7142857142858: 'London', 872.1428571428571: 'Dubai', 830.0: 'Mumbai'}
19
{1171.4285714285716: 'Paris', 1192.857142857143: 'London', 898.5714285714286: 'Dubai', 850.0: 'Mumbai'}
20
{1220.0: 'Paris', 1240.0: 'London', 925.0: 'Dubai', 870.0: 'Mumbai'}
21
{1268.5714285714284: 'Paris', 1287.142857142857: 'London', 951.4285714285714: 'Dubai', 890.0: 'Mumbai'}
22
{1317.142857142857: 'Paris', 1334.2857142857142: 'London', 977.8571428571429: 'Dubai', 910.0: 'Mumbai'}
23
{1365.7142857142858: 'Paris', 1381.4285714285713: 'London', 1004.2857142857142: 'Dubai', 930.0: 'Mumbai'}
24
{1414.2857142857142: 'Paris', 1428.5714285714287: 'London', 1030.7142857142858: 'Dubai', 950.0: 'Mumbai'}
25
{1462.857142857143: 'Paris', 1475.7142857142858: 'London', 1057.142857142857: 'Dubai', 970.0: 'Mumbai'}
26

 Maximum total_cost (1522.857142857143) has now become greater than budget (1500). So ouput for total_cost_before,

 City with Min days:

('London', '26 Days')